---
layout: default
author_profile: false
---

<div id="main" role="main">
  {% include sidebar.html %}

  <div class="archive">
    <h1 class="page__title">{{ page.title }}</h1>
    {% include base_path %}
    {% for post in page.posts %}
      {% if post.working == 1 %}
        <div>page_post1</div>
        {% include archive-single.html %}
      {% endif %}
    {% endfor %}
    <h1 class="page__title">{{ page.title }}</h1>
    {% include base_path %}
    {% for post in page.posts %}
      <div>page_post2</div>
      {% include archive-single2.html %}
    {% endfor %}
  </div>
</div>
